@model List<PiattoViewModel>

    <h1>I nostri piatti</h1>
@if (User.IsInRole("Administrator"))
{
   <a type=button class="btn btn-primary" asp-controller="Piatti" asp-action="Index">Inserisci Nuovo piatto</a>
}
<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            @*<th>Descrizione</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Prezzo</td>
                @*<td>@item.Descrizione</td>*@
                <td>
                    <a asp-controller="Piatti" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Visualizza Dettagli</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Piatti" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifica</a>
                        <a asp-controller="Piatti" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Elimina</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            @*<th></th>*@
            <th></th>
        </tr>
    </tfoot>
</table>
